@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  height: 100%;
  margin: 0;
}

.mainBtn {
  @apply px-4 py-2 border-2 border-zinc-900 rounded bg-zinc-900 font-bold text-white hover:border-blue-600 active:bg-blue-600 transition-colors duration-200
}